/*
    ------------------------
    Labels and hints
    ------------------------
*/

.label {
    /* add style rules here to change how the label appears */
    margin: .75rem 0;
}

.timer{
    background-color: #990000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    font-size: 20pt;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    /* position: static;
    top: 0;
    transform: translateX(-50%); */
}

.timer td{
    vertical-align: middle;
}

.shift {
    overflow: auto;
    height: 10px;
}

.hint {
    /* add style rules here to change how the hint appears */
    margin: .5rem 0;
    color: rgba(0,0,0,.65);
    font-style: italic;
}

/* Table formatting */
#field-table {
    border-collapse: collapse;
}

#field-table, #field-table td {
    border: 1px solid rgb(197, 197, 197);
}

#field-table td {
    padding: 11px 4px;
}

.list-nolabel {
    text-align: left;
}

.fl-label {
    text-align: left;
}

.header, .fl-radio {
    width: 60px;
    text-align: center;
}

/*
    ------------------------
    Other global styles
    ------------------------
*/

/* hide SVG symbol definitions */
.symbol {
    display: none;
}